# Dependencies
node_modules/

# Temporary
tmp/
migrations/

# Env & config files
*.env

# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
.test

# Output of the go coverage tool, specifically when used with LiteIDE
.out
node_modules
